body{
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-left-style:dotted;
    border-right-style:dotted;
    border-width:18px;
    border-color:#9FB2C1;
    padding:6px;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 140px;
    margin: 100px;
}

.price {
    padding-left: 5px;
}

.description {
    padding-right: 35px;
}

.image {
    padding-left: 76px;
}

.stock {
    padding-left: 1px;
}

.category {
    padding-right: 25px;
}

.submit {
    padding-left: 165px;
}
