.display {
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-left-style:dotted;
    border-right-style:dotted;
    border-width:18px;
    border-color:#9FB2C1;
    padding:6px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 100px;
}
