	.column {
    float: left;
    width: 25%;
    padding: 50px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    color: black;
    border: 3px solid black
	}

	.containerTab {
    padding: 20px;
    color: black;
	}

	.closebtn {
    float: right;
    color: black;
    font-size: 35px;
    cursor: pointer;
	}
	
	.yay {
	text-align: center;
	font-family: Montserrat, sans-serif;
	color: black;
	}
