<html>
<head>
<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/changePassword.css') }}" />
</head>
<body>
<h1>Change password</h1>
<p>{{ msg }}</p>
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p class="oldpassword">Old Password: <input type="password" name="oldpassword"></p>
	<p class="newpassword">New Password: <input type="password" name="newpassword" id="newpassword"></p>
	<p class="cpassword">Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
	<p class="save"><input type="submit" value="Save"></p>
</form>
<br>
<p class="here"><a href="{{ url_for('profileHome') }}">Go to Profile</a></p>
</body>
</html>


