<!DOCTYPE HTML>
<html>
<head>
<title>Profile Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/topStyle.css') }}" />
</head>
<body>
{% extends "layout.html" %}
{% block content %}
<div id="title">
	<a href="http://127.0.0.1:5000/shop/">
		<img id="logo" src= "{{ url_for('static', filename='images/logo.jpg') }}" />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm/">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders/">Your orders</a>
			<a href="/account/profile/">Your profile</a>
			<hr>
			<a href="/logout/">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart/">
			<img src="{{url_for('static', filename='images/shoppingCart.png')}}" id="cartIcon" />
			CART {{noOfItems}}
		</a>
	</div>
</div>

<div class="display">
    <h1>Thank you for shopping with us!</h1>
    <br><br><br>
    <a href="/shop/">Return to SMARTHOME Shop</a>
</div>
{% endblock %}
</body>
</html>
