<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to SMARTHOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/css/faq.css" rel="stylesheet" type="text/css">
    <script src="/static/js/faq.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" onload="main();">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000">SMARTHOME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:5000">HOME</a></li>
            <li><a href="http://127.0.0.1:5000/guide/">GUIDE</a></li>
            <li><a href="http://127.0.0.1:5000/game/">GAME</a></li>
            <li><a href="http://127.0.0.1:5000/shop/">SHOP</a></li>
            <li><a href="http://127.0.0.1:5000/faq/">FAQ</a></li>
          </ul>
        </div>
    </div>
</nav>
<br>
<br>

<h2><strong>
    <center>Frequently Asked Questions</center>
</strong></h2>

<button class="accordion">What is smart home?</button>
<div class="panel">
    <p>a home equipped with lighting, heating, and electronic devices that can be controlled remotely by smartphone or computer.</p>
</div>

<button class="accordion">What is smart living?</button>
<div class="panel">
    <p>Smart Living is a trend encompassing advancements that give people the opportunity to benefit from new ways of living. It involves original and innovative solutions aimed at making life more efficient, more controllable, economical, productive, integrated and sustainable.</p>
</div>

<button class="accordion">What are the benefits of smart living?</button>
<div class="panel">
    <p>helps with health,affordance,security,everyday convenience and also leisure</p>
</div>

<button class="accordion">	What kind of people or families are best served by Smart Living?</button>
<div class="panel">
    <p>Anyone can build a "smart home". Our Smart Living ambassador and technical consultants provide a face-to-face consultancy service, then work to design the most desirable solution according to a customer's unique needs.</p>
</div>

<button class="accordion">Can I utilize this service even if I don't plan to renovate my apartment?</button>
<div class="panel">
    <p>	Yes. Smart Living is not just for new homes – we provide a retrofit solution that allows homes not under renovation to enjoy the same benefits of home automation, even without extra wiring.</p>
</div>

<button class="accordion">What is the average cost of smart living?</button>
<div class="panel">
    <p>When you combine the total costs of smart lighting, smart climate control, and smart security, it sums up to about $1400. Compare that to these average U.S. home renovation costs: Bathroom remodeling: $9000 to $14000. Regrade lawn: $700 to $2000.</p>
</div>

<button class="accordion">Will smart home improve my wifi deadzones?"</button>
<div class="panel">
    <p>Yes it will.With the Samsung Connect Home or Samsung Connect Home Pro,they have wifi capabilitites so you can say goodbye to Wi-Fi dead zones in your residence. This means that you can start your smart washing machine’s spin cycle or redirect the mobile vacuum cleaner from anywhere in your house. </p>
</div>

<button class="accordion">Will the security of the house be safe?</button>
<div class="panel">
    <p>with the Samsung Digital Door Lock for your front door. This digital door lock is a godsend if you’re someone who is always losing their keys. Simply scan your smartphone or enter your unique passcode to unlock the door. You can also use both methods for that added layer of security. </p>
</div>

<button class="accordion">Is smart living the future?</button>
<div class="panel">
    <p>Yes it is.Smart living is the future. Making homes smart is a growing trend that is getting bigger and bigger each day. ... Smart living gives you the opportunity to control your home without the need to be physically present.</p>
</div>

<button class="accordion">Will smart living help the elderly?</button>
<div class="panel">
    <p>To address aging challenges, we examine the concept of smart living and its applications for the elderly. Smart living refers to improving quality of life by transforming environments to become more intelligent and adaptable to users. In this paper, we discuss how smart living applications can help to address the needs of the elderly, as well as the design and human-computer interaction considerations for such applications.</p>
</div>

</body>

</html>
