<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to SMARTHOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/css/faq.css" rel="stylesheet" type="text/css">
    <script src="/static/js/faq.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" onload="main();">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">SMARTHOME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">HOME</a></li>
                <li><a href="#guide">GUIDE</a></li>
                <li><a href="#game">GAME</a></li>
                <li><a href="#shop">SHOP</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#login">LOGIN</a></li>

            </ul>
        </div>
    </div>
</nav>
<br>
<br>

<h2><strong>
    <center>Frequently Asked Questions</center>
</strong></h2>

<button class="accordion">What is </button>
<div class="panel">
    <p>hi.</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
    <p>hi</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>hi</p>
</div>

<button class="accordion">Section 1</button>
<div class="panel">
    <p>k</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
    <p>lol</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>123</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>123</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>123</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>123</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>123</p>
</div>

</body>

</html>
