<html>
	<head>
		<title>Game</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			body {
			font: 400 15px/1.8 Lato, sans-serif;
			color: #777;
			}
			h3, h4 {
			margin: 10px 0 30px 0;
			letter-spacing: 10px;
			font-size: 20px;
			color: #111;
			}
			.container {
			padding: 80px 120px;
			}
			.person {
				border: 10px solid transparent;
				margin-bottom: 25px;
				width: 80%;
				height: 80%;
				opacity: 0.7;
			}
			.person:hover {
				border-color: #f1f1f1;
			}
 			.navbar {
				font-family: Montserrat, sans-serif;
				margin-bottom: 0;
				background-color: #2d2d30;
				border: 0;
				font-size: 11px !important;
				letter-spacing: 4px;
				opacity: 0.9;
			}
			.navbar li a, .navbar .navbar-brand {
				color: #d5d5d5 !important;
			}
			.navbar-nav li a:hover {
				color: #fff !important;
			}
			.navbar-nav li.active a {
				color: #fff !important;
				background-color: #29292c !important;
			}
			.navbar-default .navbar-toggle {
				border-color: transparent;
			}
			canvas{
				background:black;
				display: block;
				margin: 100px auto 0px auto;
 				top:125px;
				left:400px;
			}
			#information{
				text-align:center;
				background-color:rgba(255, 255, 255, 0.4);
				display:block;
 			}
			#hi{
				width:100%;
 			}
		</style>
		<script type='text/javascript'>
 			//https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript  Learn how to make breakout game: At 6th step
			/*Notes: Implement time into the game,
			Timer for the game,
			Change bricks to trash, ball to fireball...?, paddle to something*/
 		</script>
		<title>Game</title>
	</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#myPage">SMARTHOME</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="http://127.0.0.1:5000">HOME</a></li>
			<li><a href="http://127.0.0.1:5000/guide/">GUIDE</a></li>
			<li><a href="http://127.0.0.1:5000/game/">GAME</a></li>
			<li><a href="http://127.0.0.1:5000/shop/">SHOP</a></li>
			<li><a href="http://127.0.0.1:5000/faq/">FAQ</a></li>
			<li><a href="http://127.0.0.1:5000/login/">LOGIN</a></li>
			<li><a href="http://127.0.0.1:5000/register/">REGISTER</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
 		<div class='webpageContent'>
			<canvas id="myGame" width="900" height="500"></canvas>
			<div id="information">
				<p>
					<button onclick="start()">Play Now</button><br>
					Brick image:
					<img src="metal.gif" id="metal" width="130" height="20">
					<br>
					Ball image:
					<img src="electric.gif" id="electroball" width="50" height="50">
					<br>
					Welcome to Breakout: Save the world! In this game, players will try to destroy the compacted trash ("aka the bricks") with fire ("aka the ball"), with a twist.<br>
					After breaking 6 bricks, a question will appear to test their knowledge. Solve it, and you will be rewarded with bonus points. Get it wrong, and you will gain nothing.<br>
					The points system are as follow:<br>
					4th, 8th, 12th trash: 10 points;<br>
					16th, 20th, 24th trash: 20 points;<br>
					28th, 32th, 36th trash: 30 points;<br>
					Your total score will be coverted into points that can be used for redeeming coupons, so do your best!<br>
					When you are ready to start, press the button above. Good luck!<br>
				</p>
			</div>
		</div>
 	<script src="javascript.js"></script>
		<script type="text/javascript">
			var canvas = document.getElementById("myGame");
			var ctx = canvas.getContext("2d");
			var speed=5
			var ballRadius = 10;
			var x = canvas.width/2;
			var y = canvas.height-30;
			var dx = speed;
			var dy = -speed;
			var paddleHeight = 10;
			var paddleWidth = 75;
			var paddleX = (canvas.width-paddleWidth)/2;
			var rightPressed = false;
			var leftPressed = false;
			var brickRowCount=6;
			var brickColumnCount=6;
			var brickWidth=130;
			var brickHeight=20;
			var brickPadding=10;
			var brickOffsetTop=30;
			var brickOffsetLeft=30;
			var bricks=[];
			var score=0;
			var totalScore=0;
			var lives=3;
 			//var random=Math.floor((Math.random() * 5) + 0);
			var easyQuestions=[
				"What are one of the causes of global warming?\n 1. Recycling\n 2. Emission of carbon dioxide\n 3. Reforestation\n 4. Using bio-fuel",
				"What are one of many ways to conserve the environment?\n 1. Burning of fossil fuels\n 2. Deforestation\n 3. Reforestation\n 4. Littering",
				"Incomplete combustion of fossil fuels does not affect the environment in any way.\n 1. True\n 2. False",
				"Carbon dioxide is part of greenhouse gases.\n 1. True\n 2. False",
				"Global warming is causing a negative impact on the environment.\n 1. True\n 2. False",
				"Global warming is a myth.\n 1. True\n 2. False"
			]
			var easyAnswers=[
				"2",
				"3",
				"2",
				"1",
				"1",
				"2"
			]
			var normalQuestions=[
				"What is most harmful to the environment?\n 1. Carbon monoxide\n 2. Carbon dioxide\n 3. Oxygen\n 4. Hydrogen",
				"How can business or business leaders NOT reduce or reverse global warming?\n 1. Improve their energy efficiency\n 2. Usage of renewable energy\n 3. Reduce their carbon emissions\n 4. Offer customers high-carbon-emitting products",
				"What can the community do to NOT help reduce global warming?\n 1. Organise a community event to raise awareness of global warming\n 2. Throw plastic, paper and metal trash into their respective recycling bin\n 3. Increase the usage of CFC products",
				"What is CFC in its full name?\n 1. Chlorofluorocarbon\n 2. Carbonfluorochlorine\n 3. It does not have a full name",
				"What does CFC do?\n 1. Reduce the amount of carbon dioxide in the air\n 2. Helps to reduce carbon monoxide in the air\n 3. Destroys the ozone layer",
				"Can we reduce global warming by reducing the usage of air-conditioning?\n 1. Yes\n 2. No"
			]
			var normalAnswers=[
				"1",
				"4",
				"3",
				"1",
				"3",
				"1"
			]
			var hardQuestions=[
				"What is the device used to convert harmful gas into more harmless gas for vehicles?\n (Please answer in small letters)",
				"What is NOT one of the effects of global warming?\n 1. Increase in sea level\n 2. Unnatural changes to the seasons\n 3. Reduction of greenhouse gases\n 4. Destruction of the ozone layer",
				"Which country currently emits the most greenhouse gases?\n 1. China\n 2. The United States\n 3. India\n 4. The United Kingdom",
				"Which planet's poisonous atmosphere has been described as the product of a 'runaway greenhouse effect'?\n 1. Earth\n 2. Jupiter\n 3. Mars\n 4. Venus",
				"Which of the following lightbulb types uses the least energy, and therefore results in fewer greenhouse gas emissions?\n 1. Halogen\n 2. Incandescent\n 3. Compact flourescent",
				"How many human deaths per year does the World Health Organization attribute to climate change?\n 1. 10,500\n 2. 1,500\n 3. 150,000\n 4. 1,500,000"
			]
			var hardAnswers=[
				"catalytic converter",
				"3",
				"1",
				"4",
				"3",
				"3"
			]
 			for (var c=0; c<brickColumnCount; c++){
				bricks[c]=[];
				for (var r=0; r<brickRowCount; r++){
					bricks[c][r]={x:0, y:0, status: 1};
				}
			}
 			document.addEventListener("keydown", keyDownHandler, false);
			document.addEventListener("keyup", keyUpHandler, false);
 			function keyDownHandler(e) {
				if(e.keyCode == 39 || e.keyCode==68) {
					rightPressed = true;
				}
				else if(e.keyCode == 37 || e.keyCode==65) {
					leftPressed = true;
				}
			}
			function keyUpHandler(e) {
				if(e.keyCode == 39 || e.keyCode==68) {
					rightPressed = false;
				}
				else if(e.keyCode == 37 || e.keyCode==65) {
					leftPressed = false;
				}
			}
 			/*function randomQuestion(){*/
			function easyRandom(){
				var random=Math.floor((Math.random() * 5) + 0);
				var a=null;
				var b=null;
				var z=null;
				var text;
				if (a==null){
					a=random;
					var studentAnswer=prompt(easyQuestions[random]);
					switch (studentAnswer){
						case easyAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+10;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
				else if (b==null){
					while (random==a){
						random=Math.floor((Math.random() * 5) + 0);
					}
					b=random;
					var studentAnswer=prompt(easyQuestions[random]);
					switch (studentAnswer){
						case easyAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+10;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
				else if (z==null){
					while (random==a || random==b){
						random=Math.floor((Math.random() * 5) + 0);
					}
					z=random;
					var studentAnswer=prompt(easyQuestions[random]);
					switch (studentAnswer){
						case easyAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+10;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
			}
 			function normalRandom(){
				var random=Math.floor((Math.random() * 5) + 0);
				var a=null;
				var b=null;
				var z=null;
				var text;
				if (a==null){
					a=random;
					var studentAnswer=prompt(normalQuestions[random]);
					switch (studentAnswer){
						case normalAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+20;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
				else if (b==null){
					while (random==a){
						random=Math.floor((Math.random() * 5) + 0);
					}
					b=random;
					var studentAnswer=prompt(normalQuestions[random]);
					switch (studentAnswer){
						case normalAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+20;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
				else if (z==null){
					while (random==a || random==b){
						random=Math.floor((Math.random() * 5) + 0);
					}
					z=random;
					var studentAnswer=prompt(normalQuestions[random]);
					switch (studentAnswer){
						case normalAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+20;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
			}
 			function hardRandom(){
				var random=Math.floor((Math.random() * 5) + 0);
				var a=null;
				var b=null;
				var z=null;
				var text;
				if (a==null){
					a=random;
					var studentAnswer=prompt(hardQuestions[random]);
					switch (studentAnswer){
						case hardAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+30;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
				else if (b==null){
					while (random==a){
						random=Math.floor((Math.random() * 5) + 0);
					}
					b=random;
					var studentAnswer=prompt(hardQuestions[random]);
					switch (studentAnswer){
						case hardAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+30;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
				else if (z==null){
					while (random==a || random==b){
						random=Math.floor((Math.random() * 5) + 0);
					}
					z=random;
					var studentAnswer=prompt(hardQuestions[random]);
					switch (studentAnswer){
						case hardAnswers[random]:
							text="You are correct!";
							totalScore=totalScore+30;
							break;
						default:
							text="You are wrong!";
							break;
						}
					alert(text);
				}
			}
 			function collisionDetection(){
				for (var c=0; c<brickColumnCount; c++){
					for (var r=0; r<brickRowCount; r++){
						var b = bricks[c][r];
						// calculations
						if(b.status==1){
							if(x+10>b.x && x-10<b.x+brickWidth && y+10>b.y&& y-10<b.y+brickHeight){
								dy=-dy;
								b.status=0;
								score++;
								totalScore++;
								//Questions
								if (score==4){
									easyRandom();
								}
								if (score==8){
									easyRandom();
								}
								if (score==12){
									easyRandom();
								}
								if (score==16){
									normalRandom();
								}
								if (score==20){
									normalRandom();
								}
								if (score==24){
									normalRandom();
								}
								if (score==28){
									hardRandom();
								}
								if (score==32){
									hardRandom();
								}
								if (score==36){
									hardRandom();
								}
								if (score==brickRowCount*brickColumnCount){
									var get_local = localStorage.getItem('All User Account Information');
 									localStorage.setItem("score", totalScore);
									var finalScore=localStorage.getItem("score");
									alert("You have completed the game!");
									alert("You have a total score of "+finalScore+"!");
									var answer=prompt("Do you want to retry? \n Type in y/n, y for yes and n for no");
									if (answer=="y"){
										document.location.reload();
									}
									else if (answer=="n"){
										break;
									}
									else{
										alert("You have entered an invalid response.\n The game will automatically refresh itself.");
										document.location.reload();
									}
								}
							}
						}
					}
				}
			}
 			function drawScore(){
				ctx.font="16px Arial";
				ctx.fillStyle="#0095DD";
				ctx.fillText("Score: "+totalScore, 8, 20);
			}
 			/*function drawTimeCounter(){
				ctx.font="16px Arial";
				ctx.fillStyle="#0095DD";
				ctx.fillText("Time: "+minutes+" min "+seconds+" s", 16, 20);
			}*/
 			function drawLives(){
				ctx.font="16px Arial";
				ctx.fillStyle="#0095DD";
				ctx.fillText("Lives: "+lives, canvas.width-65, 20);
			}
 			function drawBall() {
				var electroball=document.getElementById("electroball");
				var img=ctx.createPattern(electroball, "repeat");
				ctx.beginPath();
				ctx.arc(x, y, ballRadius, 0, Math.PI*2);
				ctx.fillStyle = img;
				ctx.fill();
				ctx.closePath();
			}
			function drawPaddle() {
				ctx.beginPath();
				ctx.rect(paddleX, canvas.height-paddleHeight, paddleWidth, paddleHeight);
				ctx.fillStyle = "#0095DD";
				ctx.fill();
				ctx.closePath();
			}
 			function drawBricks(){
				for(var c=0; c<brickColumnCount; c++){
					for(var r=0; r<brickRowCount; r++){
						if (bricks[c][r].status==1){
							var metal=document.getElementById("metal");
							var img=ctx.createPattern(metal, "repeat");
							var brickX=(c*(brickWidth+brickPadding))+brickOffsetLeft;
							var brickY=(r*(brickHeight+brickPadding))+brickOffsetTop;
							bricks[c][r].x=brickX;
							bricks[c][r].y=brickY;
							ctx.beginPath();
							ctx.rect(brickX, brickY, brickWidth, brickHeight);
							ctx.fillStyle=img;
							ctx.fill();
							ctx.closePath();
						}
					}
				}
			}
 			/*function timeCounter(){
				seconds=seconds+1;
				if (seconds==60){
					seconds=0;
					minutes=minutes+1;
				}
				if (minutes==5){
					clearInterval(timeCounter);
					alert("You ran out of time, too bad!");
					location.reload();
				}
			}*/
 			function draw() {
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				//setInterval(timeCounter, 1000);
				drawBricks();
				drawBall();
				drawPaddle();
				drawScore();
				drawLives();
				collisionDetection();
 				if(x + dx > canvas.width-ballRadius || x + dx < ballRadius) {
					dx = -dx;
				}
				if(y + dy < ballRadius) {
					dy = -dy;
				}
				else if (y + dy > canvas.height-ballRadius){
					if (x>paddleX && x< paddleX+paddleWidth){
						dy=-dy;
					}
					else{
						lives--;
						if (!lives){
							localStorage.setItem("score", totalScore);
							var finalScore=localStorage.getItem("score");
							alert("GAME OVER.");
							alert("You have a total score of "+finalScore+"!");
							alert("The game will now restart itself.");
							document.location.reload();
							}
						else{
							var myVar;
							function restart(){
								x=canvas.width/2;
								y=canvas.height-30;
								dx=speed;
								dy=-speed;
								paddleX=(canvas.width-paddleWidth)/2;
							}
 							restart();
						}
					}
				}
 				if(rightPressed && paddleX < canvas.width-paddleWidth) {
					paddleX += 6.5;
				}
				else if(leftPressed && paddleX > 0) {
					paddleX -= 6.5;
				}
 				x += dx;
				y += dy;
 				requestAnimationFrame(draw);
			}
			function start(){
				alert("Welcome to Breakout: Save the world! \n Press OK to start the game");
				draw();
			}
		</script>
	</body>
</html>
