<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to SMARTHOME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SMARTHOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:5000">HOME</a></li>
        <li><a href="http://127.0.0.1:5000/guide/">GUIDE</a></li>
        <li><a href="http://127.0.0.1:5000/game/">GAME</a></li>
        <li><a href="http://127.0.0.1:5000/shop/">SHOP</a></li>
        <li><a href="http://127.0.0.1:5000/faq/">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
<div>
  {% block content %}
  {% endblock %}
</div>

<script>
</script>
</body>
</html>
