<html>
<head>
<title>	First flask app </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>
<body>
<a href="http://127.0.0.1:5000/shop/">
	<img id="logo" src= "{{ url_for('static', filename='images/logo.jpg') }}" />
</a>
<br>
<br>
<p> {{error}} </p>
<form action="/login/" method="POST">
	<p>Email: <input type="text" name="email"></p>
	<p>Password: <input type="password" name="password"></p>
	<p><input type="submit"></p>
	<a href="/registerationForm/">Register here</a>
</form>
</body>
</html>
