<html>
<head>
<title>Registration</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
</head>
<body>
<form action="/register/" method="POST" onsubmit="return validate()">
    <p class="email">Email: <input type="email" name="email"></p>

    <p class="password">Password: <input type="password" name="password" id="password" required></p>

    <p class="cpassword">Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>

    <p class="firstName">First Name: <input type="text" name="firstName"></p>
    <p class="lastName">Last Name: <input type="text" name="lastName"></p>
    <p class="address">Address: <input type="text" name="address"></p>
    <p class="zipcode">Zipcode: <input type="text" name="zipcode"></p>
    <p class="phone">Phone Number: <input type="text" name="phone"></p>

    <p class="submit"><input type="submit" value="Register"></p>

    <p class="here"><a href="/loginForm/">Login here</a></p>
</form>
</body>
</html>



